# Flask Admin Təhlükəsizlik Konfiqurasiyası
FLASK_ADMIN_USER=DoreGence
FLASK_ADMIN_PASS=Aslanov1991
FLASK_SECRET_KEY=DoreGenceAdminSecretKey1991

# Hugging Face Token (upload_to_hf.py üçün)
# HF_TOKEN=hf_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# PostgreSQL Baza Linki (Opsional)
# DATABASE_URL=postgresql://user:password@localhost:5432/anbar_db
